<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/wordlist.css">
    <title>{{ title }}</title>
</head>
<body>
    {% for page in pages %}
    <div class="section">
        <h1>{{ title }}</h1>
        <h2>{{ page.subtitle }}</h2>
        <table>
            <tr>
                <th>Word</th>
                <th>Definition</th>
                <th>Origin</th>
                <th>Sentence</th>
                <th>Rules</th>
            </tr>
            {% for word in page.words %}
            <tr>
                <td class="word">{{ word.word }}</td>
                <td>{{ word.definition }}</td>
                <td>{{ word.origin }}</td>
                <td>{{ word.sentence }}</td>
                <td>{{ word.rules }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
    <pre>{{ word_list }}</pre>
</body>
</html>
